<option value="---">---</option>
<option value="USD">USD</option>
<option value="EUR">EUR</option>
<option value="GBP">GBP</option>
<option value="JPY">JPY</option>
<option value="AUD">AUD</option>
<option value="CAD">CAD</option>
<option value="AED">AED</option>
<option value="IDR">IDR</option>
<option value="MXN">MXN</option>
<option value="AMD">AMD</option>
<option value="PLN">PLN</option>
<option value="PHP">PHP</option>
<option value="CZK">CZK</option>
<option value="BRL">BRL</option>
<option value="UAH">UAH</option>